Filtrer : <input type="search" [(ngModel)]="prix">
<div *ngFor="let product of listProdcuts , let i=index">
    <div *ngIf="product.price <prix || prix==null" class="card" style="width: 18rem">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <h5> {{product.price}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <button class="btn btn-primary" (click)="like(i)" > like</button>
      <button   class="btn btn-warning" (click)="buy(i)" [disabled] ="product.quantity==0" >Buy</button>
      <h5> {{product.quantity}}</h5>
      <button   class="btn btn-danger" (click)="edit(product.id)"  >Edit</button>
      <a [routerLink]="['/editProduct', product.id]">Edit</a>
      <button   class="btn btn-danger" (click)="delete(product.id)"  >Delete</button>

    </div>
  </div>
  <button class="btn btn-success" (click)="routage()">go to user</button>
</div>
</div>


